# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Poetry
.venv/
.poetry/
.poetry.lock

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Build files
build/
dist/
*.egg-info/